<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Bienvenue sur Merimee</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div>
                    <select #searchBy>
                        <option value="REF">Référence</option>
                        <option value="ETUD">Étude</option>
                        <option value="REG">Région</option>
                        <option value="DPT">Département</option>
                        <option value="COM">Commune</option>
                        <option value="INSEE">Insee</option>
                        <option value="TICO">Type</option>
                        <option value="ADRS">Adresse</option>
                        <option value="AFFE">Affe</option>
                        <option value="PPRO">Nom</option>
                        <option value="DPRO">Date d'inscription</option>
                        <option value="SCLE">Siècle</option>
                    </select>
                    <input type="text" class="form-control col-md-8" placeholder="Rechercher" #inpSearch>
                    <a href="javascript:void(0)" class="btn btn-raised btn-xs" (click)="obtenirMonuments(searchBy.value, inpSearch.value)">Valider</a>
                </div>
            </form>
            <form class="navbar-form navbar-right">
                <a href="javascript:void(0)" class="btn btn-raised btn-xs" (click)="afficherStats()">Statistiques</a>
            </form>
        </div>
    </div>
</div>

<div ng-zone>
    <div *ngIf='display=="liste"'>
        <div id="listeMonuments">
            <span *ngFor="#currentmonument of monuments" (click) = "afficherMonument(currentmonument['REF'])">
                    <img [src]="currentmonument['IMG']" alt="Image non existante" >
                    <div #reference>{{ currentmonument['REF'] }}</div>
                    <div>{{ currentmonument['TICO'] }}</div>
            </span>
        </div>
        <div id="fleches">
            <img (click)="pageMoins()" src="app/navigation/fleche_left.png">
            <img (click)="pagePlus()" src="app/navigation/fleche_right.png">
        </div>
    </div>

    <div *ngIf='display=="monument"'>
        <div class="col-xs-4"></div>
        <div class="col-xs-4" id="detailsMonument">
            <a (click) = "afficherListe()" href='javascript:void(0)' id='lien-before'><i class="material-icons" id='icon-before'>navigate_before</i></a>
            <h3>Fiche de monument</h3>
            <p style="text-align:center"><img [src]="monument['IMG']" alt="Image non existante" style="width: 200px; margin-left:-20%"></p>
            <p><span>Référence :</span> {{ monument['REF'] }}</p>
            <p><span>Type d'étude :</span> {{ monument['ETUD'] }}</p>
            <p><span>Région :</span> {{ monument['REG'] }}</p>
            <p><span>Département :</span> {{ monument['DPT'] }}</p>
            <p><span>Communauté :</span> {{ monument['COM'] }} </p>
            <p><span>Code INSEE :</span> {{ monument['INSEE'] }} </p>
            <p><span>Appellation courante :</span> {{ monument['TICO'] }} </p>
            <p><span>Adresse :</span> {{ monument['ADRS'] }} </p>
            <p><span>Statut :</span> {{ monument['STAT'] }} </p>
            <p><span>Affectataire :</span> {{ monument['AFFE'] }} </p>
            <p><span>Précisions sur la protection :</span> {{ monument['PPRO'] }} </p>
            <p><span>Date de protection : </span> {{ monument['DPRO'] }} </p>
            <p><span>Architecte : </span> {{ monument['AUTR'] }} </p>
            <p><span>Période de construction :</span> {{ monument['SCLE'] }} </p>
            <p><span>Latitude :</span> {{ monument['LAT'] }} </p>  
            <p><span>Longitude :</span> {{ monument['LONG'] }} </p>  
        </div>
    </div>

    <div *ngIf='display=="stats"'>
 
    </div>
</div>
